<div class="container">
  <h2> Vložte nový produkt </h2>
  <%= simple_form_for @product do |f| %>

    <div class="name">
      <%= f.input :name, label:'Název Produktu' %>     
    </div>

    <br/>

    <div class="description">
      <%= f.input :description, label: 'Popis' %>
    </div>

    <br/>

    <%= f.simple_fields_for :variants do |builder| %>

      <%= builder.input :name, label: 'Varianta produktu:'%>
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Odstranit"%>

    <% end %>

    <br/>

    <button type"button" id="add-variant" class="pull-right btn btn-primary">Přidat variantu</button>

    <br/><br/>

    <div class="form-actions">
      <%= f.button :submit, 'Uložit produkt', class:"btn btn-primary"%>
    </div>

<% end %>
</div>